.container {
    min-width: 1128px;
    margin: 0 auto;
  }
  
  .gallery {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;

  }
  .gallery-item {
    width: 360px;
    border: 1px solid #808080;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  }
  .gallery-link {
    display: block;
    width: 100%;
    height: 160px;
    overflow: hidden;
  }

  .item-info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #2e2f42;
    text-align: center;
    padding: 4px 20px;
  }
  .title {
    font-weight: 600;
  }
  .value {
    font-weight: 400;
    line-height: 2;
  }


  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid #000000;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: none;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

    .loader.is-visible{
      display: inline-block;
    }